/* -------------------------------------------------------------------------- */
/*                              custom core style                             */
/* -------------------------------------------------------------------------- */

/* -------------------------------- HTML tag -------------------------------- */

html {
    scroll-behavior: smooth;
}

/* ------------------------------ button styles ----------------------------- */
.btn{
    border-radius: 2em !important;
}
.btn-primary{
    background-color: #0072C6 !important;
    border-color: #0072C6 !important;
    transition: 0.25s;
}
.btn-primary:hover{
    background-color: rgb(0, 82, 141) !important;
    border-color: rgb(0, 82, 141) !important;
}

/* custom color and hover */
.link-primary{
    color: #0072C6 !important;
    transition: 0.25s;
}
.link-primary:hover{
    color: rgb(0, 82, 141) !important;
}

/* -------------------------------------------------------------------------- */
/*                              responsive style                              */
/* -------------------------------------------------------------------------- */
.responsive-image{
    width: 100%;
    height: auto;
}

/* ----------------------- Floating Contact Us button ----------------------- */
.fl-fl{
    background: #06D755;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 170px;
    position: fixed;
    right: -110px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    border-radius: 30px 0 0 30px;
    opacity: 0.65;
}
.fl-fl:hover {
    right: 0;
    opacity: 1;
}
.fl-fl a {
    font-size: 12px;
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    line-height: 43px !important;
    vertical-align: top !important;
}
.float-wa {
    height: 55px;
    top: 115px;
}

/* -------------------------------------------------------------------------- */
/*                           Responsive Styles on screen                      */
/* -------------------------------------------------------------------------- */

/* ----------------------------- MIN WIDTH STYLE ---------------------------- */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {
    .text-responsive{
        font-size: 0.65rem;
    }
    .text-index-responsive{
        font-size: 0.65rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .text-responsive{
        font-size: 0.75rem;
    }
    .text-index-responsive{
        font-size: 0.65rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .text-responsive{
        font-size: 0.85rem;
    }
    .text-index-responsive{
        font-size: 0.67rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .text-responsive{
        font-size: 0.85rem;
    }
    .text-index-responsive{
        font-size: 0.67rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .text-responsive{
        font-size: 0.92rem;
    }
    .text-index-responsive{
        font-size: 0.92rem;
    }
}

/* ----------------------------- MAX WIDTH STYLE ---------------------------- */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    
}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */